<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <img src="https://avatars.githubusercontent.com/u/65658332?s=400&u=239ae3599688ceb9db2a58928912785514bc623f&v=4">

    <ion-card-header>
      <ion-card-subtitle>Aluno desenvolvedor</ion-card-subtitle>
      <ion-card-title>Mauro Garcia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Aplicativo desenvolvido em ionic no curso 733 via moodle CPS
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Curso</ion-label>
      <ion-button fill="outline" slot="end">Detalhes</ion-button>
    </ion-item>

    <ion-card-content>
      Código do projeto está atualizado em https://github.com/mauropgarcia/videosApp
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Comédia</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Drama</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Ação</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Séries</ion-label>
    </ion-item>
  </ion-card>
<!--
  <h1>Mauro Garcia</h1>
  <img src="https://avatars.githubusercontent.com/u/65658332?s=400&u=239ae3599688ceb9db2a58928912785514bc623f&v=4">
  <p>Professor da ETEC Cerqueira César</p>
  <a href="mailto:mauro.garcia@cps.sp.gov.br">mauro.garcia@cps.sp.gov.br</a> -->


</ion-content>
